/* Responsiveness */
@media(max-width: 800px) {
	/* Button Menu */
	label[for="btn-menu"] {
		display: block;
		text-align: center;
	}

	/* Navigation Menu */
	.menu {
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
	}
	.menu ul li {
		float: none;
		width: 100%;
	}
	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul ul li a {
		color: #fff;
	}
	.menu ul li:hover ul {
		height: auto;
		max-height: 245px;
	}
	#btn-menu:checked ~ .menu {
		margin-left: 0;
	}
}