/*
display: inline-block;
height: 40px;
height: 200px;
width: 100%;
color: white;
text-align: center;												
	line-height: 40px;
	font-size: 25px;
.menu + ul {}

a {
	text-decoration: none;
	color: white;
	padding: 6px 35px;
}

.menu ul ul {
	display: none;
}

.menu ul li:hover {
	background-color: #2c69cc;
	cursor: pointer;
}

.menu ul li:hover > ul {
	display: block;
}

.menu ul ul ul {
	top: 0px;
	position: absolute;
}

.menu ul ul li:hover {}

.menu ul ul ul li:hover {
} 
padding: 0;
.menu ul ul {
	position: absolute;
}
@charset "UTF-8";
.menu ul + a {
	background-color: #020e55;
}
 */
 /* Variables
 $nav-color: ;
 */

/* Styles */ 
 * {
	margin: 0;
	padding: 0;
}

/* Menu and Menu`s Link */
.menu {
	background-color: #196d00;
	width: 100%;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.menu a {
	background-color: #ffff00;
	display: block;
	color: rgb(24, 24, 24);
	text-decoration: none;
	padding: 15px;
	transition: all ease-in .2s;
}

/* Lists and His Items */
/* List */
.menu ul {
	list-style: none;
	position: relative;
}
.menu ul li {
	width: 150px;
	float: left;
}
/* Sub-list */
.menu ul ul {
	position: absolute;
	visibility: hidden;
}
.menu ul ul li {
	float: none;
}

/* Mouse Hover and Focus */
.menu ul li:hover ul {
	visibility: visible;
}
.menu a:hover, .menu a:focus {
	background-color: #949400;
}

/* Menu Button */
#btn-menu {
	display: none
}
label[for="btn-menu"] {
	display: none
}
label[for="btn-menu"] {
	background-color: #196d00;
	color: #ddd;
	cursor: pointer;
	font-size: 35px;
	height: 50px;
	width: 50px;
}

/* Responsiveness */
@media(max-width: 800px) {
	/*
	#btn-menu {
		display: block
	}
	background-color: #ddd;
	color: #196d00; */

	/* Button Menu */
	label[for="btn-menu"] {
		display: block
	}

	/* Navigation Menu */
	.menu {
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
	}
	.menu ul li {
		float: none;
	}
	.menu ul ul {
		position: static;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul ul li {
		background-color: #292902 ;
	}
	.menu ul li:hover ul {
		height: auto;
		max-height: 245px;
	}
	#btn-menu:checked ~ .menu {
		margin-left: 0;
	}
}